.quant-container {
    width: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.minus {
    scale: 130%;
    color: rgb(50, 50, 50);
}

.minus:hover {
    cursor: pointer;
}

.plus {
    scale: 130%;
    color: rgb(50, 50, 50);
}

.plus:hover {
    cursor: pointer;
}

.quant {
    width: 2vh;
    text-align: center;
}